.tb-main-wrapper {
    border: 1px solid #007bff;
    width: 20%;
    min-height: 250px;
    margin: 0 auto !important;
    margin-top: 50px !important;
    border-radius: 10px;
}

.tb-main-wrapper form {
    width: 90%;
    text-align: center;
    margin: 15px auto;
}

.tb-main-wrapper .tb-hide {
    display: none;
}

/* tasks board styles */
.tb-board-wrapper {
    padding: 15px;
}

.tb-bottom-container {
    display: flex;
    min-height: 300px;
}

.tb-board-col {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
    border-radius: 10px;
}

.tb-board-col:first-child {
    border-left: 1px dashed #ccc;
}

.tb-board-col-name {
    font-size: 20px;
    border-bottom: 1px solid orange;
    text-align: center;
    margin-bottom: 10px;
}

/* tasks styles */
.tb-tasks {
    width: 90%;
    margin: 0 auto;
}

.tb-task {
    height: 100px;
    margin-top: 10px;
    border: 1px solid black;
}

/* add task/board button styles */
.tb-add-btn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    height: 50px;
    width: 50px;
    margin: 20px;
    font-size: 20px;
    line-height: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none !important;
    cursor: pointer;
}

.tb-add-btn:after {
    content: '';
    position: absolute;
    right: 17px;
    height: 2px;
    width: 15px;
    border: 1px solid #fff;
}

.tb-add-btn:before {
    content: '';
    position: absolute;
    right: 17px;
    height: 2px;
    width: 15px;
    border: 1px solid #fff;
    transform: rotate(90deg);
}

/* create task/board section modal styles*/
.tb-add-modal-content,
.tb-show-modal-content {
    padding: 10px 15px;
}

.tb-add-task-section,
.tb-show-task-section,
.tb-add-board-section,
.tb-add-board-assign {
    margin-bottom: 10px;
}

.tb-add-task-name,
.tb-add-board-name,
.tb-show-task-name {
    width: 50%;
}

.tb-add-task-assign,
.tb-show-task-assign {
    width: 25%;
}

@media (min-width: 576px) {
    .tb-add-task-modal,
    .tb-add-board-modal,
    .tb-show-task-modal {
        max-width: 800px !important;
    }
}

.tb-crate-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}


/* task cards */
.card {
    height: 200px;
    margin-bottom: 5px;
}

/* board cards */
.tb-board-card {
    margin-right: 5px;
}

.tb-task-card {
    cursor: pointer;
}

#openBoard {
    position: absolute;
    bottom: 25px;
}

/* swith style */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

    /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}




